/* ==================================
                GENERAL CSS
   ================================== */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* ==================================
                SECTION 1
   =================================== */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 21, 21, 1);
}

.left-section {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 56px;
  margin-right: 383px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.contact {
  padding-left: 56px;
  padding-right: 383px;
}

.middle-img {
  padding-block: 16px;
}

.action-button {
  background: none;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  margin-left: 250px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.25s ease;
}

.action-button:hover {
  background: white;
  color: black;
}

.fa-solid {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  padding-left: 12px;
}

/* ==================================
                SECTION 2
   =================================== */

.contact-section {
  padding-top: 112px;
  padding-left: 144px;
}

.contact-container {
  display: flex;
  overflow: hidden;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-form {
  padding: 50px 0 0 72px;
  flex: 1;
}

.contact-form h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0%;
  margin-top: 0;
  margin-bottom: 16px;
  color: rgba(20, 21, 21, 1);
}

.contact-form p {
  width: 427px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  margin-top: 0;
  margin-bottom: 40px;
}

.email-link {
  color: red;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.email-container {
  display: flex;
  align-items: flex-start;
}

.fa-envelope {
  width: 16px;
  height: 16px;
  padding: 2px 8px 0 0;
  color: rgba(224, 55, 64, 1);
}

input {
  display: flex;
  margin-bottom: 16px;
  width: 427px;
  border: none;
  border-bottom: 1px solid rgba(146, 146, 146, 1);
  padding: 20px;
}

form button {
  color: rgba(224, 55, 64, 1);
  background-color: white;
  padding: 12px 24px;
  border: 1px solid rgba(224, 55, 64, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: rgba(224, 55, 64, 1);
  color: white;
}

/* ==================================
                SECTION 3
   =================================== */

footer {
  display: flex;
  background-color: rgba(20, 21, 21, 1);
  color: white;
  padding: 30px 144px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.footer-left {
  display: flex;
  gap: 32px;
}

.footer-nav-link {
  display: inline-block;
  padding-top: 30px;
}

.footer-right {
  display: flex;
  padding-bottom: 20px;
  gap: 250px;
}

.footer-section div {
  padding-top: 30px;
}

.footer-title {
  color: rgb(224, 55, 64);
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Mobile (up to 480px or 576px) */
@media (max-width: 480px) {

  /*==================================
                SECTION 1
    ===================================*/

  header {
    flex-direction: row-reverse;
    padding: 16px;
    justify-content: space-between;
  }

  .middle-img {
    margin-right: 145px;
  }

  .action-button {
    display: none;
  }

  .nav-links {
    gap: 32px;
    padding: 0;
    margin: 0;
  }

  /*==================================
                SECTION 2
    ===================================*/

  .contact-section {
    padding: 0;
  }

  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-image img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
  }

  .contact-image {
    padding: 0 16px;
    margin-bottom: 0;
  }

  .contact-form {
    padding: 40px 16px 32px 16px;
  }

  .contact-form h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .contact-form p {
    width: 380px;
    height: 120px;
    font-weight: 300;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: -4%;
    margin-bottom: 24px;
  }

  .email-link {
    margin-bottom: 24px;
  }

  /*==================================
                SECTION 3
    ===================================*/

  footer {
    flex-direction: column;
    padding: 32px 16px;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
    gap: 24px;
  }

  .footer-right {
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  .footer-title {
    padding-top: 0;
  }

  .location {
    padding-top: 24px;
  }
}

/* Larger Mobile (portrait/landscape) */
@media (max-width: 576px) {
  /* Styles for larger phones */
}

/* Tablet (portrait) */
@media (min-width: 577px) and (max-width: 768px) {

  /*==================================
                SECTION 1
    ===================================*/

  header {
    flex-direction: row-reverse;
    padding: 16px;
    justify-content: space-between;
  }

  .middle-img {
    margin-right: 145px;
  }

  .action-button {
    display: none;
  }

  .nav-links {
    gap: 32px;
    padding: 0;
    margin: 0;
  }

  /*==================================
                  SECTION 2
      ===================================*/

  .contact-section {
    padding: 0;
  }

  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-image img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
  }

  .contact-image {
    padding: 0 16px;
    margin-bottom: 0;
  }

  .contact-form {
    padding: 40px 16px 32px 16px;
  }

  .contact-form h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .contact-form p {
    width: 600px;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: -4%;
    margin-bottom: 24px;
  }

  .email-link {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .fa-envelope {
    padding: 2px 10px 0 0;
    font-size: 20px;
  }

  #name,
  #email,
  #message {
    width: 550px;
  }

  form ::placeholder {
    font-size: 18px;
  }

  form button {
    font-size: 20px;
  }

  /*==================================
                  SECTION 3
      ===================================*/

  footer {
    flex-direction: column;
    padding: 32px 16px;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
    gap: 24px;
  }

  .footer-right {
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  .footer-title {
    padding-top: 0;
  }

  .location {
    padding-top: 24px;
  }
}

/* Tablet (landscape) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Styles for tablets in landscape mode */
  /*==================================
                SECTION 1
    ===================================*/

  header {
    flex-direction: row-reverse;
    padding: 16px;
    justify-content: space-between;
  }

  .middle-img {
    margin-right: 145px;
  }

  .action-button {
    display: none;
  }

  .nav-links {
    gap: 32px;
    padding: 0;
    margin: 0;
  }

  /*==================================
                    SECTION 2
        ===================================*/

  .contact-section {
    padding: 0;
  }

  .contact-container {
    flex-direction: column-reverse;
  }

  .contact-image img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
  }

  .contact-image {
    padding: 0 16px;
    margin-bottom: 0;
  }

  .contact-form {
    padding: 40px 16px 32px 16px;
  }

  .contact-form h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .contact-form p {
    width: 600px;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: -4%;
    margin-bottom: 24px;
  }

  .email-link {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .fa-envelope {
    padding: 2px 10px 0 0;
    font-size: 20px;
  }

  #name,
  #email,
  #message {
    width: 550px;
  }

  form ::placeholder {
    font-size: 18px;
  }

  form button {
    font-size: 20px;
  }

  /*==================================
                    SECTION 3
        ===================================*/

  footer {
    flex-direction: column;
    padding: 32px 16px;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
    gap: 24px;
  }

  .footer-right {
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  .footer-title {
    padding-top: 0;
  }

  .location {
    padding-top: 24px;
  }
}

/* Laptop */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Styles for laptops */
}

/* Desktop */
@media (min-width: 1201px) {
  /* Styles for desktops and large screens */
}