/* ==================================
                GENERAL CSS
   ================================== */

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* ==================================
                SECTION 1
   =================================== */

.header {
  display: flex;
  align-items: center;
  padding-block: 16px;
  margin-inline: 144px;
  border-bottom: 1px solid white;
}

.nav-links {
  display: flex;
  gap: 56px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo img {
  margin-left: 70px;
}

.action-button {
  background: none;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.25s ease;
}

.action-button:hover {
  background: white;
  color: black;
}

.fa-solid {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  padding-left: 12px;
}

.overview {
  background: url(./overview-imgs/hero-section.svg) no-repeat center/cover;
  height: 545px;
}

.overview-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-top: 10%;
  color: white;
}

/* ==================================
                SECTION 2
   =================================== */

.text-container {
  text-align: center;
  justify-self: center;
  max-width: 600px;
  margin-block: 112px;
}

hr {
  width: 150px;
  height: 4px;
  background-color: rgba(224, 55, 64, 1);
  justify-self: center;
  margin-bottom: 32px;
}

.text-container p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(20, 21, 21, 1);
}

/* ==================================
                SECTION 3
   =================================== */

.list {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-position: inside;
  gap: 112px;
}

.list-section {
  width: 548px;
}

.heading1,
.heading2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: rgba(20, 21, 21, 1);
  padding: 0 0 24px 100px;
}

.list-content {
  width: 580px;
  height: 216px;
}

.list-text {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
}

/* ==================================
                SECTION 4
   =================================== */

.blueprint img {
  display: flex;
  justify-self: center;
  margin-top: 112px;
  width: 98%;
}


/* ==================================
                SECTION 5
   =================================== */

.ena-heading {
  background-color: rgba(245, 245, 245, 1);
  margin-top: 112px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.color-container {
  background-color: rgba(245, 245, 245, 1);
}

/* ==================================
                SECTION 6
   =================================== */

.bridge {
  background: url(./overview-imgs/bridge.svg) no-repeat center/cover;
  height: 406px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 112px;
}

.bridge div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 112px;
  font-weight: 700;
  letter-spacing: 66px;
}

/* ==================================
            SECTION 7, 8, 9
   =================================== */

.item {
  display: flex;
  width: 1440px;
  margin-bottom: 112px;
  gap: 112px;
  justify-content: center;
}

.item1 {
  padding-top: 112px;
}

.text {
  width: 510px;
  height: 392px;
}

.text2 {
  width: 510px;
  height: 416px;
  margin-right: 144px;
}

.text span,
.text2 span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
}

.text h3,
.text2 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 32px;
}

.text p,
.text2 p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
}

.image {
  margin: 100px 104px 0 0;
}

/* ==================================
                SECTION 10
   =================================== */

.section-content {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-position: inside;
  gap: 40px;
}

.text-section {
  width: 548px;
}

.heading {
  color: rgba(20, 21, 21, 1);
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0 0 40px 100px;
}

.list-container {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  width: 600px;
}

.list-item {
  margin-bottom: 25px;
}

/* ==================================
                SECTION 11
   =================================== */

.image-container {
  display: flex;
  gap: 56px;
  justify-content: center;
  margin-top: 112px;
}

.image-container img {
  width: 40%;

}

/* ==================================
                SECTION 12
   =================================== */

footer {
  display: flex;
  background-color: rgba(20, 21, 21, 1);
  color: white;
  padding: 30px 144px;
  justify-content: space-between;
  margin-top: 200px;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-left {
  display: flex;
  gap: 32px;
}

.footer-nav-link {
  display: inline-block;
  padding-top: 30px;
}

.footer-right {
  display: flex;
  padding-bottom: 20px;
  gap: 180px;
}

.footer-section div {
  padding-top: 30px;
}

.footer-title {
  color: rgb(224, 55, 64);
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Mobile (up to 480px or 576px) */
@media (max-width: 480px) {
  /* Styles for small mobile devices */

  /*==================================
                SECTION 1
    ===================================*/
  .header {
    flex-direction: row-reverse;
    margin: 0;
    padding: 16px;
    height: 97px;
  }

  .logo {
    justify-content: flex-start;
  }

  .logo img {
    margin: 0;
  }

  .nav-links {
    gap: 32px;
  }

  .action-button {
    display: none;
  }

  .overview-text {
    width: 200px;
    height: 80px;
    line-height: 40px;
    margin-top: 133px;
    font-size: 40px;
    justify-self: center;
  }

  /*==================================
                SECTION 2
    ===================================*/

  .text-container {
    margin-block: 40px;
  }

  .text-container p {
    width: 380px;
    height: 160px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -4%;
    text-align: center;
  }

  /*==================================
                SECTION 3
    ===================================*/

  .list {
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }

  .heading1 {
    display: flex;
    width: 343px;
    padding-left: 125px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }

  .heading2 {
    width: 343px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }

  .list-content {
    margin-top: 24px;
    width: 343px;
    height: 200px;
  }

  .list-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -4%;
  }

  /*==================================
                SECTION 4
    ===================================*/

  .blueprint img {
    width: 90%;
    height: 205px;
    margin-top: 40px;
  }

  /*==================================
                SECTION 5
    ===================================*/

  .ena-heading {
    margin-top: 80px;
    padding-top: 40px;
  }

  /*==================================
                SECTION 6
    ===================================*/

  .bridge {
    margin-top: 40px;
    height: 248px;
  }

  .bridge div {
    width: 283px;
    height: 47px;
    font-size: 40px;
    letter-spacing: 35px;
    margin-left: 40px;
  }

  /*==================================
              SECTION 7,8,9
    ===================================*/

  .item {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 32px;
    margin-bottom: 0;
  }

  .item2 {
    flex-direction: column-reverse;
    gap: 70px;
  }

  .item2 img {
    margin-top: 32px;
  }

  .text {
    width: 343px;
    height: 348px;
    margin: 0 16px;
  }

  .text2 {
    width: 343px;
    height: 320px;
    margin-inline: 16px;
  }

  .text span,
  .text2 span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -4%;
  }

  .text p,
  .text2 p {
    width: 380px;
    font-size: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -4%;
  }

  .item img {
    width: 400px;
    margin-inline: 16px;
  }

  .item3 {
    gap: 0;
  }

  /*==================================
                SECTION 10
    ===================================*/

  .section-content {
    flex-direction: column;
    margin-top: 80px;
  }

  .heading {
    margin-left: 0px;
    width: 191px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
    padding: 0 0 24px 130px;
  }

  .list-container {
    width: 370px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -4%;
  }

  /*==================================
                SECTION 11
    ===================================*/

  .image-container {
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    justify-self: center;
  }

  .image-container img {
    width: 90%;
    align-self: center;
  }

  /*==================================
                SECTION 12
    ===================================*/

  footer {
    flex-direction: column;
    padding: 32px 16px;
    text-align: center;
    margin-top: 80px;
  }

  .footer-left {
    flex-direction: column;
    gap: 24px;
  }

  .footer-right {
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  .footer-title {
    padding-top: 0;
  }

  .location {
    padding-top: 24px;
  }
}

/* Larger Mobile (portrait/landscape) */
@media (max-width: 576px) {
  /* Styles for larger phones */
}

/* Tablet (portrait) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for tablets in portrait mode */
}

/* Tablet (landscape) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Styles for tablets in landscape mode */
}

/* Laptop */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Styles for laptops */
}

/* Desktop */
@media (min-width: 1201px) {
  /* Styles for desktops and large screens */
}