/* ==================================
                GENERAL CSS
   ================================== */

body {
  padding: 0;
  margin: 0;
}

/* ==================================
                SECTION 1
   =================================== */

.header {
  display: flex;
  align-items: center;
  padding-block: 16px;
  margin-inline: 144px;
  border-bottom: 0.5px solid white;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 56px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo img {
  margin-left: 25px;
}

.action-button {
  background: none;
  border: 0.5px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.25s ease;
}

.action-button:hover {
  background: white;
  color: black;
}

.action-button span {
  margin-left: 12px;
  margin-bottom: 5px;
  font-size: 20px;
}

.overview {
  background-image: url(images/hero-section.svg);
  height: 545px;
}

.overview-text {
  font-family: "Cygre";
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-top: 10%;
  color: white;
}

/* ==================================
                SECTION 2
   =================================== */

.text-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-block: 112px;
}

.red-line {
  width: 150px;
  height: 4px;
  background-color: rgba(224, 55, 64, 1);
  justify-self: center;
  margin-bottom: 32px;
}

.text-container p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(20, 21, 21, 1);
}

/* ==================================
                SECTION 3
   =================================== */

.section-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 112px;
  padding: 20px 0;
}

.section {
  width: 520px;
}

.heading1 {
  margin-bottom: 24;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
}