/* ==================================
                GENERAL CSS
   ================================== */

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* ==================================
                SECTION 1
   =================================== */

.header {
  display: flex;
  align-items: center;
  padding-block: 16px;
  margin-inline: 144px;
  border-bottom: 1px solid white;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 56px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo img {
  margin-left: 70px;
}

.action-button {
  background: none;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.25s ease;
}

.action-button:hover {
  background: white;
  color: black;
}

.fa-solid {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  padding-left: 12px;
}

.overview {
  background: url(./images/hero-section.svg) no-repeat center/cover;
  height: 545px;
}

.overview-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-top: 10%;
  color: white;
}

/* ==================================
                SECTION 2
   =================================== */

.text-container {
  text-align: center;
  justify-self: center;
  max-width: 600px;
  margin-block: 112px;
}

hr {
  width: 150px;
  height: 4px;
  background-color: rgba(224, 55, 64, 1);
  justify-self: center;
  margin-bottom: 32px;
}

.text-container p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(20, 21, 21, 1);
}

/* ==================================
                SECTION 3
   =================================== */

.list {
  display: flex;
  margin-left: 30px;
  text-align: center;
  list-style-position: inside;
  gap: 112px;
}

.list-section {
  width: 548px;
}

.heading1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: rgba(20, 21, 21, 1);
  margin: 0;
  padding: 0 0 24px 100px;
}

.list-content {
  width: 580px;
  height: 216px;
}

.list-text {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
}

/* ==================================
                SECTION 4
   =================================== */

.blueprint img {
  display: flex;
  justify-self: center;
  margin-top: 112px;
  width: 1320px;
  height: 745px;
}


/* ==================================
                SECTION 5
   =================================== */

.ena-heading {
  margin-top: 112px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/* ==================================
                SECTION 6
   =================================== */

.bridge {
  background: url(./images/bridge.svg) no-repeat center/cover;
  height: 406px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 112px;
}

.bridge div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 112px;
  font-weight: 700;
  letter-spacing: 66px;
}

/* ==================================
            SECTION 7, 8, 9
   =================================== */

.item {
  display: flex;
  width: 1440px;
  margin-bottom: 112px;
  gap: 112px;
  justify-content: center;
}

.item1 {
  padding-top: 112px;
}

.text {
  width: 510px;
  height: 392px;
}

.text2 {
  width: 510px;
  height: 416px;
  margin-right: 144px;
}

.text h3,
.text2 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 32px;
}

.text p,
.text2 p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
}

.image {
  margin: 100px 104px 0 0;
}

/* ==================================
                SECTION 10
   =================================== */

.section-content {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-position: inside;
  gap: 40px;
}

.text-section {
  width: 548px;
  height: 432px;
}

.heading {
  color: rgba(20, 21, 21, 1);
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0 0 40px 100px;
}

.list-container {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  width: 600px;
}

.list-item {
  margin-bottom: 25px;
}

/* ==================================
                SECTION 11
   =================================== */

.image-container {
  display: flex;
  gap: 112px;
  justify-content: center;
  margin-top: 112px;
}

/* ==================================
                SECTION 12
   =================================== */

footer {
  display: flex;
  background-color: rgba(20, 21, 21, 1);
  color: white;
  padding: 72px;
  justify-content: space-between;
  margin-top: 250px;
  align-items: center;
  max-width: 1440px;
}

.footer-left {
  display: flex;
  gap: 32px;
}

.footer-nav-link {
  display: inline-block;
  padding-top: 30px;
}

.footer-right {
  display: flex;
  padding-bottom: 20px;
  gap: 250px;
}

.footer-section div {
  padding-top: 30px;
}

.footer-title {
  color: rgb(224, 55, 64);
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;  
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}